In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.__version__

'1.4.2'

## Answer 1: '1.4.2'

In [3]:
df = pd.read_csv('/Users/chirag/Desktop/DataTalks/Module1/data/hw1_data.csv')

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
df.shape

(20640, 10)

## Answer 2: 10

In [6]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [8]:
'''Finding columns with missing values'''
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Answer 3: total_bedrooms with 207 missing values

In [9]:
df.ocean_proximity.value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [11]:
len(df.ocean_proximity.unique())

5

## Answer 4: Num unique values ocean_proximity -> 5

In [13]:
'''Filtering data where ocean_proximity is NEAR BAY and finding average median_house_value'''

df[df.ocean_proximity == 'NEAR BAY'].median_house_value.mean()

259212.31179039303

## Answer 5: 259212.31179039303

In [14]:
'''Calculating the average value of total_bedrooms in the df'''

df.total_bedrooms.mean()

537.8705525375618

In [15]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [16]:
'''Filling the missing values in total_bedrooms with the mean of total_bedrooms'''

df.total_bedrooms.fillna(df.total_bedrooms.mean(), inplace=True)

In [18]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [17]:
df.total_bedrooms.mean()

537.8705525375617

## Answer 6: No the avg for total bedroom has not changed

In [24]:
'''Filtering df where ocean_proximity is ISLAND'''

df_island = df[df.ocean_proximity == 'ISLAND']

In [25]:
df_island

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [26]:
'''Keeping only housing_median_age, total_rooms, total_bedrooms and dropping all the other columns'''

df_island.drop(['longitude', 'latitude', 'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity'], axis=1, inplace=True)

/var/folders/hq/dmjxvds52ldbnl7q29lhhjxc0000gn/T/ipykernel_9084/2799217086.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_island.drop(['longitude', 'latitude', 'population', 'households', 'median_income', 'median_house_value', 'ocean_proximity'], axis=1, inplace=True)

In [27]:
df_island

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [28]:
'''Converting it to numpy array for matrix multiplication'''

X = df_island.to_numpy()

In [29]:
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [49]:
'''Multiply the matrix with its transpose'''

XTX = X.T.dot(X)

In [50]:
'''Inverse of the matrix'''

XTX_inv = np.linalg.inv(XTX)

In [51]:
y = [950, 1300, 800, 1000, 1300]

In [53]:
'''Multiply XTX_inv with X.T and then with y'''

w = XTX_inv.dot(X.T).dot(y)

In [54]:
w

array([23.12330961, -1.48124183,  5.69922946])

## Answer 7: Last value -> 5.69922946

In [55]:
###### FIN ######